* {
  box-sizing: border-box;
}

body {
  font-family: muli, sans-serif;
}

header {
  padding: 20px 0;
  background-color: #505050;
  height: 140px;
}

header .row {
  position: relative;
  display: flex; 
  max-width: 800px;
  margin: 0 auto;
  top: 45px;
  padding-left: 10px;
}

header img {
  width: 240px;
}

section {
  margin-top: 30px;
}

section .row {
  position: relative;
  display: flex;
  flex-wrap: wrap; 
  max-width: 800px;
  margin: 0 auto;
  padding-left: 10px;
}

section span {
  color: #0068d3;
  font-size: 2.1em;
  font-weight: 800;
  padding: 0 0 !important;
}

.dropdown {
  margin: auto !important;
  max-width: 300px;
  padding: 0 0;
  padding-left: 7px;
}

.btn {
  position: relative;
  margin: 0 0;
  margin-top: 10px;
  color: #666666 !important;
  text-align: left !important;
  font-size: 12px !important;
  width: 95%;
  height: 30px;
  border: 1px solid #505050 !important;
  border-radius: 0 !important;
  background-color: white !important;
  opacity: 0.8;
}

.dropdown-item {
  background-color: white !important;
  opacity: 0.8;
  color: #666666 !important;
  text-align: left !important;
  font-size: 12px !important;
}

button:hover {
  cursor: pointer;
}

.dropdown-toggle::after {
    position: relative;
    top: 6px;
    float: right;
    display: inline-block;
    font-size: 15px;
}

#products-row {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 0 0 !important;
  margin-left: auto;
  margin-right: auto;
}

figure {
  padding: 0 0 !important;	
  overflow: hidden;
  border-left: 10px solid white;
  border-right: 10px solid white;
}

.product {
  width: 100%;
  height: inherit;
  padding-bottom: 240px;
}

.overlay {
  background-color: #505050;
  position: absolute;
  bottom: -50px;
  width: inherit;
  max-width: inherit; 
  height: 45%;
  padding: 10px 10px;
  transition: .3s ease-in-out;
}

.overlay-large {
  background-color: #505050;
  position: absolute;
  bottom: 0px;
  width: inherit;
  height: 45%;
  padding: 10px 10px; 
}

.overlay:hover {
  cursor: pointer;
  -ms-transform: translate(0, -50px); 
  -webkit-transform: translate(0, -50px); 
  transform: translate(0, -50px);
}

.promotion-tab {
  background-color: #0068d3;
  right: 0;
  position: absolute;
  top: 12px;
  padding: 7px 10px;
  color: white;
  font-size: 10px;
  font-weight: 100;
  text-align: center;
  width: 100px;
  text-transform: uppercase;
}

.prod-name-wrapper {
  display: block;
  position: absolute;
  top: 0;
  left: 15px;
  width: 50%;
  max-width: 50%;
  max-height: 50%;
  padding-bottom: 50px;
}

.prod-name {
  position: absolute;
  top: 7px;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  font-size: .7rem;
  font-weight: bold;	
  width: 100%;
  height: auto;
}

.price-container {
  float: right;
  width: 54px;
  margin-right: 10px;
}

.from-txt {
  margin: 0 0;
  color: white;
  font-size: 10px;
  float: left;
  opacity: 0.8;
}

.price {
  margin: 0 0;
  line-height: 17px;
  font-size: 20px;
  clear: left;
  color: #00f0ff;
<<<<<<< HEAD
  float: left; 
=======
  float: left;
>>>>>>> 5f5ae3bb15a3cf93299da1b3abdac67296a6aeee
}

sup {
  font-size: 12px;
}

.view-btn {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 130px;
  height: 35px;
  text-align: center;
  color: white;
  background-color: #f56606;
  border: none;
}

.view-btn:hover {
  filter: brightness(110%);
}

section .row img {
  margin: 0 0;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

@media only screen and (max-width: 575px) {
  #products-row {
    max-width: 310px;
    display: flex;
    margin-top: 10px;
    padding: 0 0 !important;
  }
  
  .btn {
    margin-bottom: 10px;
  }  
  
  figure {
    max-width: 265px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 575px) and (max-width: 767px) {
  figure {
    border-left: 2px solid white;
    border-right: 2px solid white;
  }

  .btn {
    margin-bottom: 10px;
  }  
  .view-btn {
    bottom: 10px;
    left: 10px;
  }
}
